@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	/* --font-rubik: "Rubik", sans-serif; */

	/* --color-brand-black: #171412; */
}

@layer base {
	html,
	body {
		@apply scroll-smooth h-full;
	}

	body {
		@apply text-gray-800;
	}

	button {
		@apply cursor-pointer;
	}

	h1,
	.h1 {
		@apply text-4xl;
	}

	h2,
	.h2 {
		@apply text-3xl;
	}

	h3,
	.h3 {
		@apply text-2xl;
	}

	h4,
	.h4 {
		@apply text-xl;
	}

	h5,
	.h5 {
		@apply text-lg;
	}

	h6,
	.h6 {
		@apply text-base;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 1rem;

	@media screen and (min-width: 1024px) {
		padding-inline: 2rem;
	}
}
