---
import Layout from "@/layouts/Layout.astro"
import Section from "@/components/Section.astro"
import Container from "@/components/Container.astro"
---

<Layout title="Homepage">
	<Section>
		<Container>
			<h1 class="text-4xl font-bold">Welcome to the Homepage</h1>
			<p class="mt-4 text-lg">This is the main landing page of the website.</p>
		</Container>
	</Section>
</Layout>